@import "../variables";

.header {
  height: 84vh;
  width: 84vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7vh 7vw;
  column-gap: $medium-gap;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;

    &__greetings {
      text-align: left;
    }

    &__description {
      text-align: left;
    }

    &__links {
      margin-top: $normal-gap;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      column-gap: $small-gap;

      &__link {

      }
    }
  }

  &__picture {
    width: 25rem;
    display: flex;
    border-color: $secondary-color;
    border-width: thin;
    border-style: solid;
    box-shadow: 5px 5px 10px 0 rgba(132, 104, 85, 0.5);
  }

}
