@import "../variables";

.positions {
  display: flex;
  flex-direction: column;
  row-gap: $medium-gap;

  &__position {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__header {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      align-content: center;
      justify-content: flex-start;
      column-gap: $medium-gap;

      &__company {
        font-weight: bold;
        width: 20rem;

        a {
          color: $primary-color;
        }

        a:link {
          text-decoration: none;
        }

        a:visited {
          text-decoration: none;
        }

        a:hover {
          text-decoration: none;
        }

        a:active {
          text-decoration: none;
        }

      }

      &__time {
        font-weight: $highlighted-weight;
        font-style: italic;
      }

    }

    &__title {
      display: flex;
      align-items: center;
      column-gap: $xs-gap;
    }

    &__description {

      p {
        margin: 0;
      }
    }
  }


}


