@import "../variables";

.projects {

  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-items: baseline;

  &__title {
    color: $primary-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.project {
  display: flex;
  flex-direction: column;
  width: 60vw;
  row-gap: $row-gap;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      font-weight: bold;
    }

    &__time {

    }
  }

  &__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      font-style: italic;
    }

    &__company {

    }
  }

  &__description {

  }

  &__skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 3vw;
    margin-bottom: 3vh;

    &__skill {

    }
  }
}
