@import "../variables";

.projects {
  display: flex;
  flex-direction: column;
  row-gap: $medium-gap;

  &__project {
    display: flex;
    flex-direction: column;
    row-gap: $xs-gap;

    padding: $normal-padding;
    border-color: $secondary-color;
    border-width: thin;
    border-style: solid;
    border-radius: $border-radius;

    &__title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      &__title {
        color: $primary-color;
        font-weight: bold;
        width: 55rem;
      }

      &__time {
        font-weight: $emphasized-weight;
      }
    }

    &__position {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: $normal-gap;

      &__title {
        color: $primary-color;
        font-weight: $emphasized-weight;
        font-style: italic;
      }

      &__company {
        display: flex;
        align-items: center;
        column-gap: $xs-gap;

        &__link {
          height: 1rem;
          //color: $complement-color;
        }
      }
    }

    &__description {
      margin-bottom: $normal-gap;
    }

    &__skills {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: $small-gap;
      row-gap: $small-gap;

      &__skill {
        font-weight: $emphasized-weight;
        color: $primary-color;
        padding: $small-padding;
        border-color: $secondary-color;
        border-width: thin;
        border-style: solid;
        border-radius: $border-radius;
      }
    }
  }
}


