@import "../variables";

.skills {
  display: flex;
  flex-direction: row;
  column-gap: $large-gap;
  row-gap: $normal-gap;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: $small-gap;

    &__title {
      color: $primary-color;
      font-weight: bold;
    }

    &__skills {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      row-gap: $small-gap;

      &__skill {

      }
    }
  }
}
