@import "variables";

.header {
  height: 84vh;
  width: 84vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7vh 7vw;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: fit-content;
    border-color: $primary-color;
    border-width: thin;
    border-style: solid;
    box-shadow: 5px 5px 10px 0 rgba(132, 104, 85, 0.5);

    &__greetings {
      text-align: left;
    }

    &__description {
      text-align: left;
    }

    &__links {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      column-gap: $small-column-gap;

      &__link {

      }
    }

    &__cta {

    }
  }

  &__picture {
    display: flex;
  }

}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  padding: 7vh 7vw;
  column-gap: $large-column-gap;
  row-gap: $large-row-gap;

  &__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

}
